[Unit]
Description=Advanced key-value store
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/redis-sentinel /etc/redis/sentinel.conf
PIDFile=/var/run/redis/redis-sentinel.pid
TimeoutStopSec=0
Restart=always
User=redis
Group=redis

ExecStartPre=-/bin/run-parts --verbose /etc/redis/redis-sentinel.pre-up.d
ExecStartPost=-/bin/run-parts --verbose /etc/redis/redis-sentinel.post-up.d
ExecStop=-/bin/run-parts --verbose /etc/redis/redis-sentinel.pre-down.d
ExecStop=/bin/kill -TERM $MAINPID
ExecStopPost=-/bin/run-parts --verbose /etc/redis/redis-sentinel.post-down.d

PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=full
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/lib/redis
ReadWriteDirectories=-/var/log/redis
ReadWriteDirectories=-/var/run/redis
# Writes its own config file
ReadWriteDirectories=-/etc/redis/sentinel.conf

[Install]
WantedBy=multi-user.target
